body {
    background-color: #ffffff;
    font-family: "MS Pゴシック";
}

h1 { 
    background: #000000; 
    color: #ffffff;               
    padding:5px;                        
}

h2 { 
    background: #1100fd;
    color: #ffffff;                
    padding:5px;                        
}
 
h3 {
    padding: 3px 6px;                   
    color: #494949;                     
    background: transparent;            
    border-left: solid 5px #7db4e6;     
}

h4 {
    background: #ffe8f8;                
    padding:5px;                        
}

.btn11 {
    width: 100px;
    height: 25px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
}

.btn12 {
    width: 100px;
    height: 25px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
}

.btn13 {
    width: 220px;
    height: 25px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
}

.btn14 {
    width: 100px;
    height: 25px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
}

div{
    display: flex;
    justify-content: center;
}
