body {
    background-color: #ffffff;
}

h1 { 
    background: #000000; 
    color: #ffffff;               
    padding:5px;                        
}

h2 { 
    background: #1100fd;
    color: #ffffff;                
    padding:5px;                        
}
 
h3 {
    padding: 3px 6px;                   
    color: #494949;                     
    background: transparent;            
    border-left: solid 5px #7db4e6;     
}

h4 {
    background: #ffe8f8;                
    padding:5px;                        
}
