body {
    background-color: #ffffff;
    font-family: "MS Pゴシック";
}

h1 { 
    background: #000000; 
    color: #ffffff;               
    padding:5px;                        
}

h2 { 
    background: #1100fd;
    color: #ffffff;                
    padding:5px;                        
}
 
h3 {
    padding: 3px 6px;                   
    color: #494949;                     
    background: transparent;            
    border-left: solid 5px #7db4e6;     
}

h4 {
    background: #ffe8f8;                
    padding:5px;                        
}

.btn11 {
    font-size: 200%;
    width: 100px;
    height: 40px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
    margin-right: 20px;
}

.btn12 {
    font-size: 200%;
    width: 75px;
    height: 40px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
    margin-right: 20px;
}

.btn13 {
    font-size: 200%;
    width: 380px;
    height: 40px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
    margin-right: 20px;
}

.btn14 {
    font-size: 200%;
    width: 125px;
    height: 40px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(LightPink, LightSkyBlue);
    box-shadow: 5px 5px gray;
}

.btn21 {
    font-size: 150%;
    width: 200px;
    height: 35px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(rgb(252, 199, 114), rgb(135, 251, 147));
    box-shadow: 5px 5px gray;
    margin-right: 15px;
}

.btn22 {
    font-size: 150%;
    width: 100px;
    height: 35px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(rgb(252, 199, 114), rgb(135, 251, 147));
    box-shadow: 5px 5px gray;
    margin-right: 15px;
}

.btn23 {
    font-size: 150%;
    width: 200px;
    height: 35px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(rgb(252, 199, 114), rgb(135, 251, 147));
    box-shadow: 5px 5px gray;
    margin-right: 15px;
}

.btn24 {
    font-size: 150%;
    width: 125px;
    height: 35px;
    text-align: center;
    padding:5px;
    background-color: PaleTurquoise;
    display: block;
    text-decoration: none;
    color: black;
    background: linear-gradient(rgb(252, 199, 114), rgb(135, 251, 147));
    box-shadow: 5px 5px gray;
}

div{
    display: flex;
    justify-content: center;
    padding:5px;
}
